<div class="container mt-5">
  <div class="alert alert-danger text-center">
    <!-- <h1>Error </h1> -->
    <p><%= message || "Something went wrong!" %></p>
    <a href="/listing" class="btn btn-primary">Go to Home</a>
  </div>
</div>
